%div.col-md-12
  %h2.col-lg-offset-5
    Sign in
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-inputs.col-lg-offset-3.col-md-5
      = f.input :email, required: false
      = f.input :password, required: false
      = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
    .form-actions.col-md-12
      = f.button :submit, "Sign in", class: 'btn btn-success col-lg-offset-5'
%div.col-md-12
  %span.col-lg-offset-3.col-md-5
    = render "devise/shared/links"
