= form_for category do |f|
  .form-group.col-md-6.col-lg-offset-3
    = f.label :name
    = f.text_field :name, class: 'form-control'
    %ul.text-danger
      - category.errors[:name].each do |msg|
        %li= "Name #{msg}"
    = f.submit 'Save', class: 'btn btn-success col-md-3 col-md-offset-4'
