%h1.orange Listing categories
%br
%table.table-hover.table.col-md-6.orange
  %tr
    %th Name
    %th Show
    %th Edit
    %th Delete

  - categories.each do |category|
    %tr
      %td= category.name
      %td
        = link_to category do
          %span.glyphicon.glyphicon-list-alt.orange
      %td
        = link_to edit_category_path(category) do
          %span.glyphicon.glyphicon-edit.orange
      %td
        = link_to category, method: :delete, data: { confirm: 'Are you sure?' } do
          %span.glyphicon.glyphicon-remove.large.orange

%br

= link_to new_category_path do
  %span.btn.btn-success.col-md-offset-5 New Category
