%p.text-success#notice= notice

%h1 Categories
%br

%div.col-md-12
  %div{class: signed_in_admin?(current_user) ? 'col-md-8 col-lg-offset-2' : 'col-md-6 col-lg-offset-3'}
    %table.table.table-hover
      %tr
        %th Name
        %th Show
        - if signed_in_admin?(current_user)
          %th Edit
          %th Delete

      - categories.each do |category|
        %tr
          %td= category.name
          %td
            = link_to category do
              %span.glyphicon.glyphicon-list-alt
          - if signed_in_admin?(current_user)
            %td
              = link_to edit_category_path(category) do
                %span.glyphicon.glyphicon-edit
            %td
              = link_to category, method: :delete, data: { confirm: 'Are you sure?' } do
                %span.glyphicon.glyphicon-remove.large

%br

- if signed_in_admin?(current_user)
  = link_to new_category_path do
    %span.btn.btn-success.col-lg-offset-5 New Category
