%p.text-success#notice= notice

%h3.orange= category.name

%h6
  - if category.products.empty?
    = "Category #{category.name} does not contains any products"
%ul.col-md-3
  - category.products.each do |product|
    =link_to category_product_path(category.id, product.id) do
      %li
        = product.title
%div.col-md-12
  %h3.orange.po
    Add new product
  = render 'products/form'

  = link_to edit_category_path(category) do
    %span Edit
  \|
  = link_to categories_path do
    %span.btn.btn-primary Back
